<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%=titulo%></title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
<body>
    <%-include("../../partials/header")%>
    <main class="container shop">
        <aside class="filters-shop">
            <div class="search-filter-shop">
                <label class="filter-title">BUSCAR</label>
                <input type="text" placeholder="item o categoria">
            </div>
            <div class="order-filter-shop">
                <label class="filter-title" for="">ORDENAR POR</label>
                <select name="" id="">
                    <option value="">A-Z</option>
                    <option value="">Z-A</option>
                    <option value="">Mayor Precio</option>
                    <option value="">Menor Precio</option>
                </select>
            </div>
            <div class="price-filter-shop">
                <span class="filter-title">PRECIO</span>
                <div>
                    <label for="">MIN</label>
                    <input type="text" placeholder="0">
                    <label for="">MAX</label>
                    <input type="text" placeholder="0">
                </div>
            </div>
            <div class="checks-filter-shop">
                <span class="filter-title">FILTRAR</span>
                <div>
                    <input type="checkbox" name="" id="">
                    <label for="">NUEVOS</label>
                </div>
                <div>
                    <input type="checkbox" name="" id="">
                    <label for="">OFERTAS</label>
                </div>
                <div>
                    <input type="checkbox" name="" id="">
                    <label for="">EDICION ESPECIAL</label>
                </div>
                <div>
                    <input type="checkbox" name="" id="">
                    <label for="">FAVORITOS</label>
                </div>
            </div>
        </aside>
        <section class="container-shop">
            <ul class="cards-shop">
                <% funko.forEach(funko=>{%>
                <li class="card-item-shop">
                    <article>
                        <a href="">
                            <div class="card-item-img">
                                <span class="card-item-tag">NUEVO</span>
                                <img src="<%=funko.img_front%>" alt="<%=funko.product_description%>">
                            </div>
                            <div class="card-item-content">
                                <p class="card-item-group"><%=funko.licence_name%></p>
                                <h4 class="card-item-title"><%=funko.product_name%></h4>
                                <p class="card-item-price"><%=funko.product_price%></p>
                                <p class="card-item-payment">3 CUOTAS SIN INTERÉS</p>
                           </div>
                        </a>
                    </article>
                </li>
                <% })%>
            </ul>
        </section>
    </main>
    <%-include("../../partials/footer")   %>
</body>
</html>